/* ==================Header Section============== */
html{
    scroll-behavior: smooth;
}
.header{
    background-color: red;
    margin-bottom: 200px;
}
.logo{
    background-color: red;
    text-align: center;
    border-radius: 45px;
    margin-top: 12px;
    transition: .5s;
    cursor: pointer;
}
.logo img{
    max-width: 100%;
    width: 100px;
}
.logo:hover{
    background-color: #0984e3;
}
.menu{
    text-align: center;
    background-color: #2d3436;
    margin-top: 12px;
    border-radius: 5px;
}
.menu ul{

}
.menu ul li{
    display: inline-block;
    list-style: none;
    border-right: 1px solid #ddd;
    margin-left: -5px;
    position: relative;
}
.menu ul li:first-child a{
    border-left: 1px solid #ddd;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0px 15px;
    line-height: 50px;
    transition: .5s;
}
.menu ul li:hover >a{
    background-color: red;
    color: black;
}
.menu ul li ul{
    position: absolute;
    width: 250px;
    background-color: #b2bec3;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: .5s;
}
.menu ul li ul li{
    display: block;
    margin-left: -40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    
}
.menu ul li ul li:first-child a{
    border-left: none;
}
.menu ul li ul li a{
    display: block;
}
.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    background-color: #636e72;
}
/* ==================Baner Section============= */
.baner{
    text-align: center;
    width: 500px;
    height: auto;
    margin: auto;
    transition: .7s;
    cursor: pointer;
}
.baner img{
    max-width: 100%;
    transition: .7s;
    opacity: 0.2;
}
.baner img:hover{
    transition: .7s;
    opacity: 1;
    transform: scale(1.7);
}
/* =================Service Section=============== */
.service{
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}
.box1{
    border: 1px solid #ddd;
    height: 600px;
    border-radius: 10px;
    background-color: black;
    transition: .5s;
    cursor: pointer;
}
.box1 p{
    transition: .5s;
}
.box1 p:hover{
    background-color: #3742fa;
    box-shadow: 5px 5px 5px 5px #ddd;
    color: white;
    transform: scaleY(1.2);
}
.box1:hover{
    background-color: #a4b0be;
    box-shadow: 5px 5px 5px 5px #ddd;
    color: black;
}
.service h3{
    margin-bottom: 20px;
    padding: 25px 0px;
    color: black;
    font-weight: bolder;
    background-color: #130f40;
    transition: .5s;
}
.service h3:hover{
    background-color: #6c5ce7;
    box-shadow: 5px 5px 5px 5px #ddd;
    border-radius: 5px;
    color: white;
}
.service p{
    padding: 0px 10px;
}
.k1{
    line-height: 40px;
    padding: 5px;
}
.service h2{
    margin-bottom: 100px;
    background-color: #1B1464;
    display: inline-block;
    color: black;
    padding: 20px 90px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    transition: .5s;
}
.service h2:hover{
    box-shadow: 5px 5px 5px 5px #ddd;
    background-color: #3742fa;
    color: white;
    
}
/*================Price Section============*/
.nn{
    height: 350px;
}
/* ===============About Section============= */
.about{
    text-align: center;
    cursor: pointer;
}
.about h2{
    color: black;
    font-size: 40px;
    font-weight: bolder;
    background-color: #7158e2;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: .7s;
}
.about h2:hover{
    background-color: #130f40;
    transform: scale(1.4);
    color: white;
}
.about h2 a{
    color: black;
}
.about h2 a:hover{
    color: white;
}
.about p{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    width: 700px;
    font-size: 25px;
    font-weight: bolder;
}
.about a{
    text-decoration: none;
    color: white;
    transition: .7s;
}
/* ================Offer Section=============== */
.offer{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 20px 0px;
}
.offer h1{
    font-size: 200px;
    font-weight: bolder;
    color: black;
}
.offer h3{
    font-size: 100px;
    font-weight: bolder;
    color: black;
}
.offer h4{
    font-size: 100px;
    font-weight: bolder;
    color: black;
}
.offer a{
    display: block;
    text-decoration: none;
    background-color: blue;
    color: white;
    margin-top: 50px;
    padding: 10px 80px;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 5px;
    display: inline-block;
}
/* =================icon Section================ */
.icon{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-top: 120px;
    color: blue;
    transition: .7s;
}
.icon a{
    color: blue;
}
.icon h2{
    background-color: darkkhaki;
    display: inline-block;
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: bolder;
    color: black;
    margin-top: 90px;
    margin-bottom: 50px;
    transition: .7s;
    margin-left: 17px;
}
.icon h2:hover{
    transform: scale(1.2);
}
.p{
    font-size: 160px;
    padding: 0px 20px;
    cursor: pointer;
    color: black;
    transition: .7s;
}
.p:hover{
    transform: scale(1.4);
}
.a:hover{
    color: red;
}
.b:hover{
    color: blue;
}
.c:hover{
    color: #3ea9f2;
}
.d:hover{
    color: #4aae20;
}
/* =====================Footer Section================= */
.footer{
    background-color: #222222;
    color: #fff;
    padding: 0px 15px;
    text-align: center;
    line-height: 50px;
}
.footer p{
    margin-top: 10px;
}
.jj{
    position: relative;
    top: 50px;
    text-align: center;
    margin: auto;
}
.jj a{
    text-decoration: none;
    color: white;
}
.jj:hover{
    transform: scale(1.2);
}
.vb{
    background-color: burlywood;
    display: inline-block;
    padding: 10px 50px;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    transition: .5s;
    cursor: pointer;
}
.vb:hover{
    transform: scaleY(1.2);
    background-color: chocolate;
}
.g{
    margin-left: 7px;
}
.popo{
    margin-right: 40px;
}
